@model ItemEnhancement

<div id="enhancementRow">
    <div id="bonusRow" class="form-group">
        <label class="control-label col-md-12" style="display: inline-block; text-align: center;">@Model.Enhancement</label>
    </div>
</div>