@model ArtifactAttainment

<div id="attainmentRow">
    <div class="form-group">
        <label class="control-label col-md-12" style="display: inline-block; text-align: center;">@Model.AttainmentTable.attainment_name</label>
    </div>
</div>
