@model Npcimbued

<div id="imbuedRow" class="form-group">
    <div class="col-md-12" style="text-align: center;">
        <a href="https://dbeditor.azurewebsites.net/Imbued/Details/@Model.ImbuedId">@Model.Imbued.Name (@Model.Npc.Alias)</a>
    </div>
</div>
