@model MageNPCTracker.Models.MageCabal

@{
    ViewData["Title"] = "Edit Mage Cabal";
}

<h2 style="text-align: center;">Edit Mage Cabal</h2>
<hr />
<form asp-action="Edit">
    <div class="row form-horizontal">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MageCabalid" />
            <div class="form-group">
                <label asp-for="CabalName" class="control-label col-md-4" style="text-align: right; display: inline-block;"></label>
                <div class="col-md-7" style="display: inline-block;">
                    <input asp-for="CabalName" class="form-control" />
                    <span asp-validation-for="CabalName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check" style="text-align: center;">
                <label class="form-check-label" asp-for="RightofEmeritus">
                    <input class="form-check-input" asp-for="RightofEmeritus" />Right of Emeritus
                </label>
            </div>
            <div class="form-group form-check" style="text-align: center;">
                <label class="form-check-label" asp-for="RightofSanctuary">
                    <input class="form-check-input" asp-for="RightofSanctuary" />Right of Sanctuary
                </label>
            </div>
            <div class="form-group form-check" style="text-align: center;">
                <label class="form-check-label" asp-for="RightofCrossing">
                    <input class="form-check-input" asp-for="RightofCrossing" />Right of Crossing
                </label>
            </div>
            <div class="form-group form-check" style="text-align: center;">
                <label class="form-check-label" asp-for="RightofNemesis">
                    <input class="form-check-input" asp-for="RightofNemesis" />Right of Nemesis
                </label>
            </div>
            <div class="form-group form-check" style="text-align: center;">
                <label class="form-check-label" asp-for="RightofHospitality">
                    <input class="form-check-input" asp-for="RightofHospitality" />Right of Hospitality
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label col-md-4" style="display: inline-block; text-align: right;">Game</label>
                <div class="col-md-7" style="display: inline-block;">
                    <select asp-for="GameId" class="form-control" asp-items="ViewBag.Games"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

